<span class="help-popover" (mouseenter)="positionPanel()" (focusin)="positionPanel()">
  @if (interactive) {
    <button type="button" [attr.aria-label]="label">
      <span aria-hidden="true">i</span>
    </button>
  } @else {
    <span class="help-trigger" aria-hidden="true">
      <span>i</span>
    </span>
  }
  <span
    #panel
    class="help-panel"
    role="tooltip"
    [style.left.px]="panelLeft"
    [style.top.px]="panelTop"
    [style.width.px]="panelWidth"
  >
    {{ text }}
  </span>
</span>


